@import url('https://rsms.me/inter/inter.css');

:root {
  font-family: 'Inter var', sans-serif ;
}

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter var', sans-serif;
  background-color: #FDFBF7;
  color: #2C1A14;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
